#app {

    

    .container {

        .outData {
            font-weight: 900;
            font-style: italic;
            text-decoration: underline;
        }


    .btn-large{
        font-weight: 700;
    }

       .langStyle {
           color: grey;
           font-size: 18px;

        }



    }




}